.save-time-money {
  color: $text-colour;
  background-color: #ffffff;
}

.dual-enrollment{
  background-image: url('#{$imagedir}dual-enrollment-header.png');
  background-size: cover;
  width: 696px;
  height: 78px;
  text-indent: -9999px;
  margin-left: auto;
  margin-right: auto;
}

.dual-credit{
  background-image: url('#{$imagedir}dual-credit-header.png');
  background-size: cover;
  width: 483px;
  height: 78px;
  text-indent: -9999px;
  margin-left: auto;
  margin-right: auto;
}

.save-time-money h3 {
  color: #a7a9ac;
  font-size: 33px;
  font-family: $basefont-stack;
  font-weight: bolder;
  line-height: 1.0em;
}

.save-time-money .grad-steps-ahead h3 {
  color: $text-secondary-colour;
  font-size: 33px;
  font-family: $basefont-stack;
  line-height: 1.0em;
}

.save-time-money .grad-steps-ahead h3 span{
  font-size: 33px;
  font-family: $basefont-stack;
}

.save-time-money .grad-steps-ahead-g h3 {
  color: $text-secondary-colour;
  font-size: 33px;
  font-family: $basefont-stack;
  line-height: 1.0em;
}

.save-time-money h4{
  color: $text-secondary-colour;
  font-size: 26px;
  font-family: $basefont-stack;
  line-height: 1.0em;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.save-time-money .grad-steps-ahead{
  padding: 20px 20px 5px 20px;
  color: $text-secondary-colour;
  background-image: url('#{$imagedir}55-background.jpg');
  background-size: cover;
}

.save-time-money .grad-steps-ahead-g{
  padding: 20px 20px 5px 20px;
  color: $text-secondary-colour;
  background-image: url('#{$imagedir}get-steps-background.jpg');
  background-size: cover;
}

.grad-steps-ahead-g .steps{
  background-image:url('#{$imagedir}step-graphic.svg');
  background-size: 210px;
  background-repeat: no-repeat;
  height: 269px;
}

.grad-steps-ahead-g p{
  border-top:1px solid white;
  border-bottom:1px solid white;
}


@media screen and (max-width: 481px) {
  .dual-enrollment{
    max-width: 97%;
    height: 37px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .dual-credit{
    max-width: 78%;
    height: 37px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
.grad-steps-ahead .steps{
  background-image:url('#{$imagedir}steps.png');
  background-repeat: no-repeat;
  background-size: 200px;
  padding-top: 150px;
  padding-bottom: 30px;
  margin-top: 25px;
  margin-bottom: 20px;
}
}

/* Portrait and Landscape */
@media screen and (min-width: 482px) and (max-width: 1023px) {
.grad-steps-ahead .steps{
  background-image:url('#{$imagedir}steps.png');
  background-repeat: no-repeat;
  background-size: 235px;
  padding-top: 150px;
  margin-top: 25px;
}
}
